.headerContainer {
  /* Margin, padding and width */
  width: 100%;
  padding-bottom: 90px;
}

.header {
  /* Position */
  z-index: 9999;
  position: fixed;
  /* Margin, padding and width */
  width: 100%;
  padding: 5px;
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Background */
  background-color: #FAEDCD;
  /* Border */
  border-bottom: solid 1px #D4A373;
}

.logo {
  /* Margin, padding and width */
  margin: 0 10px;
  /* Cursor */
  cursor: pointer;
}

.buttonsContainer {
  /* Margin, padding and width */
  width: 200px;
  margin: 5px;
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchIconButton {
  all: unset;
  /* Margin, padding and width */
  padding: 8px;
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Background */
  background-color: #FEFAE0;
  /* Font */
  font-size: 1.2rem;
  /* Border */
  border: solid 1px #D4A373;
  border-radius: 50%;
  /* Cursor */
  cursor: pointer;
}

.profileIconButton {
  all: unset;
  /* Margin, padding and width */
  padding: 8px;
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Background */
  background-color: #FEFAE0;
  border: solid 1px #D4A373;
  border-radius: 50%;
  /* Font */
  font-size: 1.2rem;
  /* Cursor */
  cursor: pointer;
}

.profileButton {
  all: unset;
  /* Margin, padding and width */
  padding: 5px;
  /* Display */
  display: none;
  /* Background */
  background-color: #FEFAE0;
  /* Border */
  border: solid 1px #D4A373;
  border-radius: 5px;
  /* Cursor */
  cursor: pointer;
}

.button {
  all: unset;
  /* Margin, padding and width */
  padding: 8px;
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Background */
  background-color: #FEFAE0;
  border: solid 1px #D4A373;
  border-radius: 50%;
  /* Font */
  font-size: 1.2rem;
  /* Cursor */
  cursor: pointer;
}

.logoutIconButton {
  all: unset;
  /* Margin, padding and width */
  padding: 8px;
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Background */
  background-color: #FEFAE0;
  /* Font */
  font-size: 1.2rem;
  /* Border */
  border: solid 1px #D4A373;
  border-radius: 50%;
  /* Cursor */
  cursor: pointer;
}

.searchContainer {
  /* Margin, padding and width */
  margin: 5px;
  /* Display */
  display: none;
}

.searchInput {
  /* Margin, padding and width */
  padding-left: 10px;
  /* Font and text*/
  line-height: 1.6rem;
  /* Border */
  border: solid 1px #D4A373;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.searchButton {
  /* Background */
  background-color: white;
  /* Font and text*/
  line-height: 1.6rem;
  /* Border */
  border: solid 1px #D4A373;
  border-left: none;
  border-radius: 0 5px 5px 0;
  /* Cursor */
  cursor: pointer;
}

@media(min-width: 375px) {
  .searchContainer {
    display: inline-block;
  }

  .buttonsContainer {
    width: 90%;
    max-width: 340px;
  }

  .searchIconButton {
    display: none;
  }

}

@media(min-width: 500px) {
  .headerContainer {
    padding-bottom: 50px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .buttonsContainer {
    max-width: 400px;
  }
}

@media(min-width: 620px) {
  .profileIconButton {
    display: none;
  }

  .profileButton {
    display: inline-block;
  }

  .logoutIconButton {
    display: none;
  }
}