.paragraph {
  all: unset;
}


.link {
  color: black;
  text-decoration: none;
}

.post {
  /* Margin, padding and width */
  margin: 10px;
  height: auto;
  /* Background */
  background-color: #FEFAE0;
  /* Border */
  border: solid 1px #D4A373;
  border-radius: 10px;
  /* Cursor */
}

.postHeader {
  /* Margin, padding and width */
  padding: 10px;
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Background */
  background-color: #FAEDCD;
  /* Font and text*/
  /* Border */
  border: solid 1px #FAEDCD;
  border-radius: 10px 10px 0 0;
  /* Cursor */
}

.postImage {
  /* Margin, padding and width */
  width: 300px;
  height: 225px;
}

.likesAndComments {
  /* Position */
  /* Margin, padding and width */
  padding: 10px;
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Background */
  /* Font and text*/
  /* Border */
  border-radius: 0 0 10px 10px;
  /* Cursor */
}

.heartButton {
  all: unset;
  /* Cursor */
  cursor: pointer;
}

.showCommentsButton {
  all: unset;
  cursor: pointer;
}

.commentsAndInput {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  all: unset;
  /* Margin, padding and width */
  margin: 5px;
  width: inherit;
  padding: 5px;
  /* Background */
  background-color: white;
  /* Border */
  border: solid 1px #D4A373;
  border-radius: 10px;
}

.sendButton {
  all: unset;
  /* Margin, padding and width */
  width: fit-content;
  margin: 5px;
  padding: 10px;
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Background */
  background-color: #1E3231;
  /* Font and text*/
  color: white;
  /* Border */
  border-radius: 50%;
  border: solid 1px grey;
  /* Cursor */
  cursor: pointer;
}

@media(min-width: 500px) {
  .postImage {
    /* Margin, padding and width */
    width: 500px;
    height: 375px;
  }
}